// Color palette
$color-primary:         #00b4d8;
$color-primary-light:   #caf0f8;
$color-primary-dark:    #012a4a;

$color-secondary-light: #ffb900;
$color-secondary-dark:  #ff7730;

$color-grey-light-1:    #f7f7f7;
$color-grey-light-2:    #eee;

$color-grey-dark:       #777;
$color-grey-dark-2:     #999;
$color-grey-dark-3:     #333;

$color-white:           #fff;
$color-black:           #000;

// Size
$header-logo: 4rem;
$header-height: 6rem;