@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "components/header";
@import "components/button";
@import "components/about";
@import "components/contact";
@import "components/portfolio";
@import "components/resume";
@import "components/skills";
@import "components/home";