*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  .logo {
    float: left;
  }
  .navigation {
    float: right;
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a:link {
      text-decoration: none;
    }
  }
}
