*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // * 1rem=10px
}

body {
  box-sizing: border-box;

  background-color: $color-primary-light;
}

ul {
  list-style: none;
}

section {
  height: calc(100vh - #{$header-height});
}