body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

.home__heading {
  color: $color-primary-light;
  line-height: 6rem;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.header__logo {
  line-height: 1;
  font-size: $header-logo;
  font-weight: normal;
  color: $color-primary-light;
}

.navigation {
  font-size: 1.5rem;
  font-weight: 400;
  &__item {
    text-transform: uppercase;
  }
}

.btn {
  text-transform: uppercase;
  color: $color-primary;
  // Hover color
  &:hover {
    color: $color-primary-light;
  }
  // Top & bottom lines
  &::before,
  &::after {
    background-color: $color-primary-light;
  }
  // Change color when btn is active
  &.btn--active {
    color: $color-primary-light;
  }
}